extends template.pug
block content
  each val in data
    .card.float-start.m-3(style='width: 18rem;')
      img.card-img-top(src=val.hinhanhsanpham, alt='err', style='width:15rem; height:15rem')
      .card-body
        h5.card-title= val.tensanpham
        p.card-text= val.giasanpham + ' đ'
        a.btn.btn-primary(href='laptop/'+val.id) Xem chi tiết


