extends template.pug
block content
    .container
      #xacnhan.row
       .col-2
       .alert.alert-secondary.text-center.col-7(role="alert") Xác nhận mua hàng thành công!
       .col-2
      #tieptuc.row 	
       .col-2
       .alert.alert-secondary.text-center.col-7  Mời bạn tiếp tục mua hàng.
       .col-2
    h1 Day la thong tin lien lac